.contacts-page {
    .search-input-wrapper {
        padding: 1em;
        border-bottom: 1px solid $gray-lines-color;
    }
    .simple-grid {
        td {
            padding: 10px 0 10px 15px;
            border-bottom: 1px solid $gray-lines-color;
            height: auto;
            vertical-align: middle;
            &:last-child {
                padding-right: 15px;
            }
            &.img-cell {
                line-height: 0;
            }
            &.name-cell {
                cursor: pointer;
                span {
                    color: $gray-font-color;
                }
            }
            &.date-cell {
                text-align: right;
                .date {
                    color: $gray-font-color;
                    font-size: $small-font-size;
                    display: inline-block;
                    margin-top: 5px;
                }
            }
        }
        .star-icon {
            margin: 10px 0;
        }
    }

    .recent-grid {
        .tags-element,
        .comment-icon {
            background-position: 5px;
            background-repeat: no-repeat;
            border-radius: 12px;
            border: 1px solid $gray-lines-color;
            height: 24px;
            display: inline-block;
            box-sizing: border-box;
            position: relative;
            &.empty {
                opacity: 0.5;
            }
            &:not(.empty):hover {
                background-color: $black-background-color;
                border-color: $black-background-color;
            }
            .dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 5;
                border: 1px solid $gray-lines-color;
                display: none;
                background: white;
            }
        }
        .tags-element {
            min-width: 50px;
            font-size: $small-font-size;
            background-image: url("/resources/icons/common/tag.png");
            padding: 5px 10px 5px 25px;
            &:not(.empty):hover {
                color: white;
                background-image: url("/resources/icons/common/tag_white.png");
                .dropdown {
                    display: initial;
                }
            }

            .dropdown {
                overflow-y: auto;
                max-height: 115px;
                color: black;
                li {
                    padding: 5px;
                    padding-right: 10px;
                    white-space: nowrap;
                    &:not(:last-child) {
                        border-bottom: 1px solid $gray-lines-color;
                    }
                }
                &:hover {
                    display: initial;
                }
            }
        }

        .comment-icon {
            background-image: url("/resources/icons/common/comment.png");
            width: 24px;
            &:not(.empty):hover {
                background-image: url("/resources/icons/common/comment_white.png");
                .dropdown {
                    display: inline-block;
                }
            }

            .dropdown {
                width: 200px;
                padding: 5px;
                &:hover {
                    display: inline-block;
                }
            }
        }

        tr:hover {
            background: $secondary-background-color;
        }
        .date-cell {
            .time {
                display: block;
            }
            .square-call-btn {
                display: none;
                margin: -10px -15px -12px 0;
                background-position: 24px;
                height: 60px;
                width: 60px;
                border-left: 1px solid $gray-lines-color;
            }
            &:hover {
                .time,
                .date {
                    display: none;
                }
                .square-call-btn {
                    display: inline-block;
                }
            }
        }
    }
}

