$incoming-calls-list-height: 70px;

.incoming-calls-list {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80%;
    max-width: 1030px;
    border-top: $gray-lines-color;

    li {
        height: $incoming-calls-list-height;
        background: white;
        width: 100%;
        border-bottom: 1px solid $gray-lines-color;
        .common-info-block {
            height: $incoming-calls-list-height;
            padding: 14px 15px 0 41px;
            box-sizing: border-box;
            width: 165px;
            float: left;
            position: relative;
            border-right: 1px solid $gray-lines-color;

            img {
                position: absolute;
                top: 18px;
                left: 15px;
            }
            b {
                display: inline-block;
                margin-bottom: 2px;
            }
        }

        .avatar {
            float: left;
            height: 40px;
            width: 40px;
            line-height: 40px;
            background: $dark-background-color;
            border-radius: 20px;
            margin: 15px 16px;
            text-align: center;
            color: white;
        }

        .contact-info-container {
            padding: 5px 0;
            float: left;
            > * {
                display: block;
                margin-bottom: 3px;
            }
            span {
                font-size: $small-font-size;
            }
        }

        .ac-block {
            float: left;
            padding: 8px 0;
            margin-left: 40px;
            span {
                display: block;
                margin-bottom: 3px;
                img {
                    vertical-align: middle;
                    margin-right: 8px;
                }
            }
        }

        .handle-call-button {
            height: $incoming-calls-list-height;
            width: $incoming-calls-list-height;
            float: right;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: 21px;
            &.accept {
                background-color: $black-background-color;
                background-image: url("/resources/icons/phone_panel/call_button.png");
            }
            &.reject {
                background-color: $gray-background-color;
                background-image: url("/resources/icons/phone_panel/stop_call_button.png");
            }
        }
    }
}