
.main-container .left-panel {
    width: 267px;
    border-right: 1px solid $gray-lines-color2;
    background: white;

    .call-list {
        padding-left: 1em;
        li {
            border-bottom: 1px solid $gray-lines-color2;
            padding: 12px 0 11px;
            * {
                vertical-align: middle;
            }
            img {
                padding-right: 1em;
            }
            span {
                line-height: 14px;
                &.time {
                    font-size: $small-font-size;
                    float: right;
                    color: $gray-font-color;
                    margin-right: 1.230769em; /* 16 / 13 */
                }
            }

            .call-icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                float: right;
                cursor: pointer;
                margin: -13px 0;
                background-image: url('/resources/icons/left_panel/phone_icon.png');
                background-repeat: no-repeat;
                background-position: 13px;
                &:hover {
                    background-image: url('/resources/icons/left_panel/phone_icon_white.png');
                    background-color: $black-lines-color;
                }
            }
        }
    }

    .favorites-contact-list {
        padding-left: 1em;
        li {
            padding: 0.733333em 0; /* 11 / 15 */
            border-bottom: 1px solid $gray-lines-color2;
            img {
                padding-right: 1em;
            }
            .is-in-call-icon {
                float: right;
                padding-right: 1.230769em; /* 16 / 13 */
            }
        }
    }
}