.expansion-panel-container {
    .expansion-panel-header {
        cursor: pointer;
        font-weight: $semibold-text-weight;
        border-bottom: 1px solid $gray-lines-color;
        padding: 1em;
        img {
            margin-right: 1em;
        }
        &.reverse img {
            float: right;
            margin-left: 1em;
        }
    }
}