@import './../../node_modules/reset-css/reset.css';
@import './../../node_modules/reset-css-extended/dist/reset.css';

$main-font-size: 15px;
$small-font-size: 0.866666em; /* 13 / 15 */
$semibold-text-weight: 900;

$gray-lines-color: #E6E6E6;
$gray-lines-color2: #EEEEEE;
$gray-text-color: #B4B4B4;
$black-lines-color: #585858;

html, body {
    width: 100%;
    height: 100%;
    font-size: $main-font-size;
}

* {
    outline-width: 0;
    &[disabled] {
        opacity: 0.5;
    }
}

.expansion-panel-header {
    cursor: pointer;
    font-weight: $semibold-text-weight;
    border-bottom: 1px solid $gray-lines-color;
    padding: 1em 0;
    img {
        margin: 0 1em;
    }
}