@import './../../node_modules/reset-css/reset.css';
@import './../../node_modules/reset-css-extended/dist/reset.css';

$main-font-size: 15px;
$small-font-size: 0.866666em; /* 13 / 15 */
$big-font-size: 1.133333em; /* 17 / 15 */
$semibold-text-weight: 900;
$gray-font-color: #B4B4B4;

$gray-lines-color: #E6E6E6;
$gray-lines-color2: #EEEEEE;
$black-lines-color: #585858;

$main-background-color: #F5F5F5;
$secondary-background-color: #FAFAFA;

html, body {
    width: 100%;
    height: 100%;
    font-size: $main-font-size;
}

* {
    outline-width: 0;
    &[disabled] {
        opacity: 0.5;
    }
}

b {
    font-size: $big-font-size;
    font-weight: $semibold-text-weight;
    line-height: 1.3em;
}

.gray-text {
    color: $gray-font-color;
}

.main-content-container {
    background-color: $main-background-color;
    padding: 20px;
    width: calc(100% - 700px);
}

.main-page-container {
    background: white;
}

.simple-grid {
    width: 100%;
}