@import 'common.scss';
@import './components/header.scss';
@import './components/contacts-page.scss';
@import './components/contact-edit-page.scss';
@import './components/left-panel.scss';
@import './components/phone-panel.scss';
@import './components/common/tab-control.scss';
@import './components/common/expansion-panel.scss';
@import './components/common/simple-list.scss';
@import './components/common/big-textfield.scss';
@import './components/common/editable-field.scss';
@import './components/common/small-contact-list.scss';

.main-container {
    overflow: auto;
    border-top: 2px solid $gray-lines-color;
    background-color: $main-background-color;

    > div {
        float: left;
    }
}