@import 'common.scss';
@import './components/contacts-page.scss';
@import './components/contact-edit-page.scss';
@import './components/left-panel.scss';
@import './components/phone-panel.scss';
@import './components/common/tab-control.scss';
@import './components/common/expansion-panel.scss';
@import './components/common/big-textfield.scss';
@import './components/common/editable-field.scss';

.app-header {
    overflow: hidden;
    .logo {
        font-size: 1.6em; /* 24 / 15 */
        line-height: 2.083333em; /* 50 / 24 */
        margin-left: 38px;
        display: inline-block;
        float: left;
    }
    .top-menu {
        float: right;
        text-align: center;
        padding: 0.733333em 0 1.066666em; /* 11 / 15, 16 /15 */
        li {
            display: inline-block;
            position: relative;
            cursor: pointer;
            opacity: 0.6;
            &:not(:last-child) {
                border-right: 2px solid $gray-lines-color;
            }
            img {
                padding: 0 0.933333em; /* 14 / 15 */
                opacity: 0.6;
            }
            .selector {
                position: absolute;
                height: 5px;
                background-color: $black-lines-color;
                width: 100%;
                bottom: -1.066666em; /* 16 /15 */
                display: none;
            }
            &.selected {
                opacity: 1;
                .selector {
                    display: block;
                }
                img {
                    opacity: 1;
                }
            }
        }
    }
}

.main-container {
    overflow: auto;
    border-top: 2px solid $gray-lines-color;
    background-color: $main-background-color;

    > div {
        float: left;
    }
}